<div class="carousel-container">
  <h2 class="carousel-title">Calzados Deportivos</h2>

  <owl-carousel-o [options]="carouselOptions" class="carousel">
    <ng-container *ngFor="let item of items">
      <ng-template carouselSlide>
        <div class="carousel-item">
          <img [src]="item.image" [alt]="item.title" />
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <button class="buy-button">Comprar Producto</button>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>